<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Devart.Data" publicKeyToken="09AF7300EEC23701" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.143.0" newVersion="5.0.143.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
