<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="OrgTrackingSystemModelConnectionString" connectionString="metadata=res://*/OrgTrackingSystemModel.csdl|res://*/OrgTrackingSystemModel.ssdl|res://*/OrgTrackingSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>