<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataAvailConfig"
    type="DataAvail.AppShell.AppConfigHandler,DataAvail.AppShell" />
  </configSections>
  <dataAvailConfig path="..\..\..\DataAvail.ConsumerApps">
    <apps sharedPluginsPath="\Plugins">
      <app caption="Н-Траст" path="OficialAgency" imgSplash="Images\NTRAST.png">
        <plugins>
          <calculator path="..\bin\Debug\OficialAgency.dll" />
        </plugins>
      </app>
      <app caption="DATA AVAIL" path="DataAvailClients" active="false" />
    </apps>
  </dataAvailConfig>
</configuration>
